body {
  margin: 0;
  background-color: #1e1c29;
  background-image: url("/Images/CandiceWickle.png");
  background-size: cover;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  display: flex;
  justify-content: space-between;
  flex: 1;
  margin-top: 55px;
  overflow-wrap: break-word;
}

.left-side {
  display: flex;
  flex-wrap: wrap;
  width: 65%;
  margin-left: 2%;
  margin-top: 1%;
  margin-bottom: 1%;
  justify-content: space-between;
  align-content: space-around;
}

.box {
  background-color: #000000c8;
  padding: 1%;
  border-radius: 20px;
  color: white;
}

/* Specific adjustments for the first and second boxes */
.box:nth-child(1) {
  width: 25%; /* Thinner width for the first box */
  background-image: url("/Images/JimmePhoto.jpg");
  background-size: cover;
  height: 40%;
}

.box:nth-child(2) {
  width: 70%; /* Wider width for the second box */
  height: 40%;
  position: relative;
}

.box:nth-child(3),
.box:nth-child(4) {
  width: 47.5%; /* Default width for the third and fourth boxes */
  height: 50%;
}

.right-box {
  overflow-wrap: break-word;
  width: 30%;
  height: 700px;
  background-color: #000000c8;
  margin-right: 2%;
  margin-left: 1%;
  align-self: center;
  padding: 1%;
  border-radius: 20px;
  color: white;
}

.box h2, .right-box h2{
  margin-bottom: 10px;
}

.cv-button{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    padding: 20px 30px;
    border: 2px solid rgb(255, 255, 255);
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

footer{
  border-top: 2px solid #11DC98 ;
}