nav ul li {
  margin-right: 10px;
}

nav ul a {
  color: transparent;
  margin-left: auto;
  margin-right: 35px;   
}

nav.scrolled ul li a, nav.scrolled ul a:hover {
  color: rgb(0, 0, 0);
}

.Home-text p{
  bottom: 43%;
}

.about-text p {
  width: 100%;
  margin-left: 0px;
}

aside .about-image img {
  position: absolute;
  width: 0px;
  height: 0px;
}

.portfolio-container {
  display: grid;
  grid-template-columns: 2fr 2fr;
}

.portfolio-item {
  width: 100%;
}

.overlay{
  background-color: rgba(0, 0, 0, 0.5);
  position:relative;
  top: -42px;
  margin-bottom: -42px;
}

.overlay h3,
.overlay p {
    color: white;
    text-align: center;
}

