@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

header {
    background-color: transparent;
    border-bottom: transparent;
    padding: 20px;
    position: fixed;
    width: 100%;
    z-index: 10;
    transition: background-color 0.5s ease, border-bottom 0.5s ease;
}

header.scrolled {
    background-color: rgb(0, 0, 0);
    border-bottom: 2px solid #11DC98;
}

nav.scrolled ul a:hover {
    color: #11DC98;
}

nav ul li a {
    color: rgb(255, 255, 255);
}


.Home {
    position: relative;
    background-image: url("/Images/IntroGif.gif");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.Home:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: inherit;
    background-size: cover;
    filter: blur(4px);
}

.Home-text {
    position: relative;
    height: 100%;
    width: 100%;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.75);
}

.Home-text h1{ 
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translateX(-50%);
}

.Home-text h1:last-child{
    position: absolute;
    bottom: 5%;
}

.Home-text p{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.sectionWhite {
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    color: #ffffff;
    position: relative;
    z-index: 1;
}

.sectionWhite a{
    color: #ffffff;
}

.sectionWhite a:hover{
    color: #11DC98;
}


.sectionBlack {
    background-color: rgb(0, 0, 0);
    padding: 50px;
    display: flex;
    align-items: center;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

aside {
    flex: 2;
    text-align: center;
}

.about-text{
    color: white;
}

.about-text h2 {
    padding-bottom: 10px;
}

.about-text p {
    margin-bottom: 20px;
}

.about-text button {
    background-color: rgb(0, 0, 0);
    border: 2px solid white;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.about-text button:hover {
    color: #11DC98;
    border: solid 2px #11DC98;
}

.portfolio-item:last-child {
    margin-right: 0;
}

.portfolio-item img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    display: block;
}

.about-me-button-container {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 20px;
}

.about-me-button-container button {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    padding: 20px 30px;
    border: 2px solid rgb(255, 255, 255);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.about-me-button-container button:hover {
    color: #11DC98;
    border: solid 2px #11DC98;
}

.contact-container {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    padding: 50px 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-container h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.contact-container p {
    font-size: 16px;
    margin-bottom: 30px;
}

.contact-info {
    text-align: center;
    flex: 1;
    width: 100%;
}

.contact-info h2,
.contact-info p {
    margin: 0;
}

.contact-info p {
    margin-bottom: 15px;
}

.contact-info ul {
    list-style-type: none;
    padding: 0;
}

.contact-info ul li {
    margin-bottom: 10px;
}

.contact-info ul li a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s ease;
}

.contact-button {
    position: absolute;
    right: 40px;
    bottom: 40px;   
    transform: translateY(-50%);
}

.contact-button button {
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 10px 20px;
    border: 2px solid white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-button button:hover {
    color: #11DC98;
    border: solid 2px #11DC98;
}

.contact-item {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.contact-item img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}



/* Style Big */
@media only screen and (min-width: 1100px) {
nav ul li {
    margin-right: 20px;
}

nav ul a {
    color: white;
    margin-left: auto;
    margin-right: 35px;   
}

.Home-text p{
    bottom: 47%;
}

.about-text p {
    width: 50%;
}

.portfolio-container {
    display: flex;
    justify-content: space;
}

.portfolio-item {
    position: relative;
    flex: 1;
    margin-right: 5px;
    border: solid black 1px;
}

.about-text {
    flex: 4;
    padding: 0 20px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    opacity: 0;
    transition: opacity 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

aside .about-image img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    position: relative;
    border-radius: 50%;
    margin-right: 20px;
}

.overlay h3,
.overlay p {
    margin: 0;
    padding: 10px;
    text-align: center;
}

.portfolio-item:hover .overlay {
    opacity: 1;
}
}

@media only screen and (max-width: 1099px) {

/* Style Small */

nav.scrolled ul a strong {
    color: transparent;
}

nav ul li {
    margin-right: 10px;
  }
  
  nav ul a {
    color: transparent;
    margin-left: auto;
    margin-right: 35px;   
  }
  
  .Home-text p{
    bottom: 43%;
  }
  
  .about-text p {
    width: 100%;
    margin-left: 0px;
  }
  
  .portfolio-container {
    display: grid;
    grid-template-columns: 2fr 2fr;
  }
  
  .portfolio-item {
    width: 100%;
  }
  
  .overlay{
    background-color: rgba(0, 0, 0, 0.5);
    position:relative;
    top: -42px;
    margin-bottom: -42px;
  }
  
  .overlay h3,
  .overlay p {
      color: white;
      text-align: center;
  }
  
}
