/* Basic layout styles for all portfolio items */

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #333;
    color: #fff;
    height: 100%;
}

.project-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 80px;
    padding-bottom: 130px;
}

.project-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    max-width: 1400px;
    width: 100%;
}

.section-header {
    grid-column: span 2; /* This ensures the h1 spans across both columns in the grid */
    text-align: center;  /* Centers the text */
    font-size: 32px;
    margin-bottom: 5px;
    color: #11DC98; /* Matches the color of the section headers */
    text-shadow: 4px 4px #000000;
}


.left-section, .right-section {
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(2, 0, 5, 0.8);
    border: solid white 1px;
}

.project-video iframe {
    width: 100%;
    height: 315px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.project-contribution h2,
.project-details h2 {
    color: #11DC98;
    margin-bottom: 10px;
}

.project-contribution ul {
    padding-left: 20px;
}

.project-details p {
    color: #ecf0f1;
    margin-bottom: 10px;
}

.download-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #f39c12;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.download-button:hover {
    border: solid #11DC98 2px;
    color: #11DC98;
    transform: scale(1.06);
}

footer {
    background-color: #333;
    padding: 20px;
    text-align: center;
}

.social-icons img {
    width: 30px;
    height: 30px;
    margin: 0 10px;
}

.social-icons a:hover img {
    filter: brightness(1.2);
}

.back-button {
    position: fixed;
    top: 75px;
    left: 20px;
    padding: 10px 20px;
    background-color: #000000;
    border: solid white 2px;
    color: white;
    text-decoration: none;
    border-radius: 30px;
    width: 60px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 45px;
    z-index: 2;
}

.back-button:hover {
    border: solid #11DC98 2px;
    color: #11DC98;
    transform: scale(1.04);
}

/* Download button */
.download-button {
    background-color: #000000;
    border: solid white 2px;
}

.download-button:hover {
    background-color: #000000;
    border: solid #11DC98 2px;
}

.project-container {
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1; 
}

.project-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: -1; 
}


