/* General Styling for Portfolio Grid */
body{
    background-color: black;
}

.portfolio-grid {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.portfolio-item {
    width: 280px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    border-width: 2px;
    border: solid white;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s ease;
    margin-top: 10px;
    flex: 0 0 calc(50% - 20px); /* 50% width minus the gap */
    box-sizing: border-box; /* Ensure padding and borders are included in the width */
    position: relative;
}

.portfolio-item:nth-child(1),
.portfolio-item:nth-child(2) {
    margin-top: 30px;
}

.portfolio-item:hover {
    transform: scale(1.04);
    border-color: #11DC98;
    border-width: 2px;
}

.portfolio-item img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.portfolio-info {
    padding-top: 10px;
    text-align: center;
    position: absolute;
    bottom: 0; /* Align to the bottom */
    left: 0;
    right: 0;
    padding: 10px; /* Add some padding */
    background-color: rgba(0, 0, 0, 0.5); /* Transparent black background */
    color: white; /* Text color for visibility */
    border-top: solid #000000b5 1px; 
    pointer-events: none;
}

/* Modal Styling */
.portfolio-modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Dark overlay */
    justify-content: center;
    align-items: center;
}

.portfolio-modal-content {
    background-color: #000000;
    width: 60%; /* Takes 60% of the screen width */
    height: 50%; /* Takes 50% of the screen height */
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.portfolio-modal-body {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.modal-video {
    flex: 0 0 45%; /* Video takes 45% of the modal width */
    height: 100%;
}

.modal-text {
    flex: 0 0 50%; /* Text takes 50% of the modal width */
    padding-left: 20px;
    color: White;
}

.modal-text h2 {
    font-size: 1.8em;
    margin-bottom: 15px;
}

.modal-text p {
    font-size: 1.2em;
    color: rgb(186, 186, 186);
}

/* Close Button Styling */
.close {
    position: absolute;
    top: 15px;
    right: 20px;
    color: #d5d5d5;
    font-size: 30px;
    cursor: pointer;
}

.close:hover {
    color: #11DC98;
}


@media screen and (max-width: 768px) {
    .portfolio-item {
        flex: 0 0 100%; /* Make each item take 100% width */
        margin-top: 20px; /* Add some vertical spacing between items */
    }

    .portfolio-item img {
        height: auto; /* Adjust height for a more natural aspect ratio */
    }

    .portfolio-item:nth-child(2) {
        margin-top: 10px;
    }
}
