<footer class="footer">
    <div class="social-icons">
        <a id="emailF">
            <img src="/Content/Icons/Contact/Emailicon.webp" alt="Email" loading="lazy" decoding="async">
        </a>
        <a href="https://www.linkedin.com/in/jimme-van-duijnhoven-63b93b21b/" target="_blank">
            <img src="/Content/Icons/Contact/LinkedInIcon.webp" alt="LinkedIn" loading="lazy" decoding="async">
        </a>
        <a href="https://github.com/JimmevD" target="_blank">
            <img src="/Content/Icons/Contact/GithhubIcon.svg" alt="GitHub" loading="lazy" decoding="async">
        </a>
    </div>
</footer>
